section.shopping-list {
	align-items: center;

	ul {
		margin: 0;
		list-style: none;
		padding-inline-start: 0;
	}
	li {
		margin: 0;

		&::before {
			font-family: 'ionicons';
			content: '\f372';
			padding-right: 0.3rem;
		}

		&:hover {
			cursor: pointer;
			opacity: 0.9;
		}
	}
	li.strike-through {
		opacity: 0.4;
		&::before {
			font-family: 'ionicons';
			content: '\f373';
			padding-right: 0.3rem;
		}
		span {
			text-decoration: line-through;
		}
	}

	.button-wrapper {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 1fr 2fr;
		gap: 0.5rem;
		width: 100%;
		max-width: 28rem;
	}
}
